.container.testimonials__container{
    width: 50%;
    padding-bottom: 4rem;
}

.client__avatar{
    width: 10rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 3rem auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
}
#testimonials{
    margin-top: 15rem;
}

.testimonial{
    background: var(--color-bg-variant);
    text-align: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10rem;
    user-select: none;
    width: 4rem;
  
}

.client__review{
    color: var(--color-light);
    font-weight: 300;
    display: block;
  //  width: 80%;
    margin: 0 0.8rem auto 0;
}

.swiper {
    width: 60%;
    height: 35%;
  

   margin:4rem;
  }

 /*
  .swiper-button-prev, .swiper-button-next{
    cursor: pointer;
    z-index:100;
    position:absolute;
    top: 50%;
    width:auto;
    padding:1rem;
    margin-top: -3rem;
    font-size: 40px;
    font-weight: bold;
    color:red;
    
    border-radius: 0px 5px 5px 0px;
  }
  
.swiper-pagination-bullet .swiper-pagination-bullet-active{
  color: w;
}



/* ======MEDIA QUERIES(Medium Devices)=====*/
@media screen and (max-width: 1024px){
    #testimonials{
    height: 60vh;
    margin-top: 5vh;
    }
    .container.testimonials__container{
        width: 60%;
    }
}


/* ======MEDIA QUERIES(Small Devices)=====*/
@media screen and (max-width: 600px){
    .testimonials{
      height: 30vh;
       
      }
    .container.testimonials__container{
        width: var(--container-width-sm);
        
    }

    .client__review{
        width: var(--container-width-sm);
    }
    
}